/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/***********/
/* IMPORTS */
/***********/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
}
@import 'theme/colors';
@import 'theme/elements/collection';
@import 'theme/text';
@import 'theme/animations';
@import 'theme/shadows';
@import 'theme/mixins';
@import 'theme/layout';

/********/
/* TAGS */
/********/
body { margin: 0; }

form label { display: inline-block; }

ul{ @include trim; }

h1, h2, h3, h4, h5, h6 {
  @include titles;
  margin: 0;
}

h1,h2 {
  font-weight:900;
  line-height: 1.8rem
}
h3,h4 {
  font-weight:300;
  line-height: 1.6rem
}
h5,h6 {
  font-weight:100;
  line-height: 1.4rem
}


.thead {
  @include titles;
}


input:not([type=submit]) {
  @include input;
}

#content input[type=submit] {
  @include padding;
  @include button;
}

/*
 *  CLASSES *
 */

.field {
  @include margin;
}
.labels {
  & * {display:inline-block;}
}
.header a{
  @include padding;
  @include button;
}

.navigation * {
  height: 2rem;
}

.header {
  justify-content: flex-start;
  min-height: 3rem;
  turbo-frame {
    width: 100%;
    @include flexify;
    justify-content: space-between;
    @include padding;
    p { display: inline-block; }
  }
}

#notice {
  justify-content: flex-end;
  color: green;
}

/*
 *  ID'S *
 */

#index {
  .thead {
    font-weight: 600;
    text-transform: uppercase;
  }
}

#messages .slide-top {  @include entry-animation }

//#content {  grid-area: content; }
//
//#messages {
//  @include padding;
//  p { line-height:1 }
//}
//
//:focus-visible {  outline: 1px solid $link; }